:root {
  --color-back: #000000;
  --color-white: #ffffff;
  --color-gray-base: #D9D9D9;
  --color-primary: #2C3383;
  --color-primary-lighten-1: #2C3383;
  --color-gray-lighten-1: #999999;
  --color-gray-lighten-2: #c8c8c8;
  --color-gray-lighten-3: #eeeeee;
  --color-gray-lighten-4: #f5f5f5;
  --app-header-height: 64px;
  --border-radius-small: 2px;
  --border-radius-base: 4px;
  --border-radius-medium: 10px;
  --border-radius-large: 24px;
  --border-color-base: #cbcdcb;
  --border-focus-color-base: var(--color-primary);
  --border-base: 1px solid var(--border-color-base);
  --text-color-base: #212321;
  --text-color-secondary: #9ab69c;
  --text-color-dark: var(--color-back);
  --color-disabled: #0000000f;
  --color-disabled-button-text: #00000042;
  --font-weight-normal: 400;
  --font-weight-lighter: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-primary: 'Noto Sans JP';
  --font-secondary: 'Roboto';
  --color-error: #ff5252;
  --color-danger: #cd2b21;
  --color-accent: #df7777;
  --color-success: #4caf50;
}
